//- module
.section.section-trivia: .inner
  .text-center: h2#meeting_g 中西區區議會 大會日程及文件
  p 以下中西區區議會大會日程及文件可供居民下載閱覽。
  br
  .row
   .col-6.col-md-3 
    p 會議
   .col-6.col-md-3 
    p 日期
   .col-6.col-md-3 
    p 時間
   .col-6.col-md-3 
    p 會議議程
   .col-6.col-md-3 
    p 會議記錄
   .col-6.col-md-3 
    p 會議錄音
   .col-6.col-md-3 
    p 討論文件
   each item in [["第四次","2020-05-28（四）","下午2時30分","—","—","—","—"],["第四次特別","2020-06-06（六）","下午2時30分","2020_S4/agenda.odt","—","—","—"]]
     .row
      .col-6.col-md-3
       span.name: b #{item[0]}
      .col-6.col-md-3
       span.name: b #{item[1]}
      .col-6.col-md-3
       span.name: b #{item[2]}
      .col-6.col-md-3
       span.name: a(href="/cwdc/meeting/meeting_g/#{item[3]}") 下載
      .col-6.col-md-3
       span.name: b #{item[4]}
      .col-6.col-md-3
       span.name: b #{item[5]}
      .col-6.col-md-3
       span.name: b #{item[6]}


