//- module
.section.section-trivia: .inner
  .text-center: h2#meeting_g 中西區區議會 大會日程及文件
  p 以下中西區區議會大會日程及文件可供居民下載閱覽。
  a(href="/2020GMS04record.html") 下載
  br
  .row
   .col.col-md-3 
    p 會議
   .col.col-md-3 
    p 日期
   .col.col-md-3 
    p 時間
   .col.col-md-3 
    p 會議議程
   .col.col-md-3 
    p 會議記錄
   .col.col-md-3 
    p 會議錄音
   .col.col-md-3 
    p 討論文件
   .col.col-md-3 
    p 投票結果
   each item in [["第四次","2020-05-28（四）","下午2時30分","2020R04","—","2020R04","2020R04","—"],["第四次特別","2020-06-06（六）","下午2時30分","2020S04","—","2020S04","2020S04","—"]]
     .row
      .col.col-md-3
       span.name: b #{item[0]}
      .col.col-md-3
       span.name: b #{item[1]}
      .col.col-md-3
       span.name: b #{item[2]}
      .col.col-md-3
       span.name: a(href="/cwdc/meeting/meeting_g/GM/#{item[3]}/agenda.odt") 下載
      .col.col-md-3
       span.name: b #{item[4]}
      .col.col-md-3
       span.name: b a(href="/cwdc/meeting/GM/#{item[5]}/record.html") 下載
      .col.col-md-3
       span.name: b a(href="/cwdc/meeting/GM/#{item[6]}/record.html") 下載
      .col.col-md-3
       span.name: b #{item[7]}

